= form_for @changeset, topic_path(@conn, :update, @topic), fn f ->
  .form-group
    = text_input f, :title, placeholder: "Title", class: "form-control"
    = error_tag f, :title

  = submit "Update Topic", class: "btn btn-primary"
- end
